<ul class="navbar-nav sidebar sidebar-dark accordion hidden-sidebar" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/backend">
        <div class="sidebar-brand-text mx-3">SmartProduction</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/backend">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard Over All</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Factory Performance
    </div>

        <!-- Nav Item - Pages Collapse Menu1 -->
        <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-table"></i>
                <span>Factory: 1</span>
            </a>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="py-2 collapse-inner rounded">
                    <a class="collapse-item" href="#">BAR 1</a>
                    <a class="collapse-item" href="#">DRAWING</a>
                    <a class="collapse-item" href="#">Annealing</a>

                    <!-- <a class="collapse-item" href="/backend/category">Category</a>
                    <a class="collapse-item" href="/backend/products">Products</a>
                    <a class="collapse-item" href="/backend/category">Category</a>
                    <a class="collapse-item" href="/backend/products">Products</a> -->
                </div>
            </div>
        </li>

    <!-- Nav Item - Pages Collapse Menu 2-->
    <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-table"></i>
            <span>Factory: 2</span>
        </a>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded">
                <a class="collapse-item" href="/backend/bar2">BAR 2</a>
                <a class="collapse-item" href="#">Profile</a>
                <a class="collapse-item" href="#">CGM</a>
                <!-- <a class="collapse-item" href="/backend/category">Category</a>
                <a class="collapse-item" href="/backend/products">Products</a> -->
            </div>
        </div>
    </li>

    <div class="sidebar-heading">
        Phase 2 (ตัวนับเวลาที่เครื่องเดินจบกี่โมง)
    </div>



</ul>